<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qiyego.wsgjp.dao.DataCollectMapper">
    <resultMap id="BaseResultMap" type="com.qiyego.wsgjp.entity.DataCollect">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="customer_id" property="customerId" jdbcType="BIGINT"/>
        <result column="state" property="state" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="last_time" property="lastTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <select id="selectByCustomerId" resultMap="BaseResultMap">
        SELECT
            a.id,
            a.customer_id,
            a.`type`,
            a.`state`,
            a.last_time,
            a.ext_field_1
        FROM
            gjs_business.data_collect a
        WHERE
            a.customer_id = #{customerId,jdbcType=BIGINT}
            AND a.type = #{type,jdbcType=VARCHAR};
    </select>

    <select id="selectEnableByCustomerId" resultMap="BaseResultMap" >
        SELECT
            a.id,
            a.customer_id,
            a.`type`,
            a.`state`,
            a.last_time,
            a.ext_field_1
        FROM
            gjs_business.data_collect a
        WHERE
            a.last_time > DATE_ADD(NOW(),INTERVAL -30 DAY)
            AND a.`state`='SUCCESS'
            AND a.customer_id = #{customerId,jdbcType=BIGINT}
            AND a.type = #{type,jdbcType=VARCHAR};
    </select>

    <insert id="insertOrUpdate" parameterType="com.qiyego.wsgjp.entity.DataCollect">
        INSERT INTO `gjs_business`.`data_collect` (
            `customer_id`,
            `type`,
            `state`,
            `last_time`,
            `ext_field_1`
        )
        VALUES (
            #{customerId,jdbcType=BIGINT},
            #{type,jdbcType=VARCHAR},
            #{state,jdbcType=VARCHAR},
            NOW(),
            #{extField1,jdbcType=VARCHAR}
        )
        ON DUPLICATE KEY UPDATE `state` = VALUES(`state`), `last_time` = VALUES(`last_time`),`ext_field_1` = VALUES(`ext_field_1`);
    </insert>

    <select id="selectByCompanyName" resultMap="BaseResultMap" >
        SELECT
            a.id,
            a.customer_id,
            a.`type`,
            a.`state`,
            a.last_time,
            a.ext_field_1
        FROM
            gjs_business.data_collect a
        WHERE
            a.ext_field_1 = #{companyName,jdbcType=VARCHAR}
            AND a.type = #{type,jdbcType=VARCHAR}
        ORDER BY a.last_time DESC
        LIMIT 1
    </select>
</mapper>